<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Demo/src/regex/TestRegularExpression.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="regex.TestRegularExpression"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="abcabcabcdefabc abcabcabcdefabc abc+ (abc)+ (abc){2,}"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Demo"/>
</launchConfiguration>
